html {
  font-family: $font-base;
  color: $color-4;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0 0 rem(20px);
  font-weight: normal;
  font-family: $font-bold;
}

h1 {
  font-size: rem(48px);
  letter-spacing: 2px;
}

button {
  cursor: pointer;
}