// Lists

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Text Helpers

.logo {
    font-family: $font-logo;
    font-size: rem(40px);
    
    span {
        color: $color-2;
    }
}

// Flex Helpers

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

// Social

.social-wrapper {
    margin-bottom: rem(20px);

    @include for-narrow-layout {
        justify-content: center;
    }
    
    a {
        display: block;
        height: rem(40px);
        width: rem(40px);
        text-align: center;
        line-height: 40px;
        background: $color-8;
        color: #fff;
        text-decoration: none;
        margin-right: rem(20px);

        transition: all .3s;

        &:hover {
            background: $color-1;
        }
    } 
}

// Links

a {
    &.more {
        display: inline-block;
        color: $color-6;
        border: 2px solid $color-6;
        height: 40px;
        line-height: 36px;
        padding: 0 25px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        margin: rem(20px) 0;

        transition: all .3s;

        &:hover {
            background: $color-1;
            border-color: $color-1;
            color: #fff;
        }
    }
}