
.images-wrapper {
    margin-bottom: rem(20px);
    display: grid;
    
    grid-template-columns: repeat(8, 60px);
    grid-auto-rows: 60px;
    
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    grid-auto-flow: dense;

    @include for-narrow-layout {
        grid-template-columns: repeat(12, 40px);
        grid-auto-rows: 40px;
    }

    @include for-landscape-layout {
        grid-template-columns: repeat(12, calc( (100% - 220px) / 12 ));
        grid-auto-rows: calc( (100vw - 280px) / 12 );
    }

    .image-item {
        background-color: $color-5;
        background-size: cover;
        background-position: center center;
    }

    .square-img {
        grid-column: span 5;
        grid-row: span 5;
        @include for-narrow-layout {
            grid-column: span 8;
            grid-row: span 6;
        }
        @include for-portrait-layout {
            grid-column: span 12;
            grid-row: span 12;
        }
    }
    .vertical-img {
        grid-column: span 3;
        grid-row: span 5;
        
        @include for-narrow-layout {
            grid-column: span 4;
            grid-row: span 10;
            
        }

        @include for-portrait-layout {
            grid-column: span 12;
            grid-row: span 15;
        }
    }
    .horizontal-img {
        grid-column: span 8;
        grid-row: span 4;
        @include for-portrait-layout {
            grid-column: span 12;
            grid-row: span 7;
        }
    }
}

.image-001 {
    background-image: url('../images/image-001.jpg')
}
.image-002 {
    background-image: url('../images/image-002.jpg')
}
.image-003 {
    background-image: url('../images/image-003.jpg')
}