footer {
    background: $color-9;
    padding: 70px 0;
    text-align: center;
    border-top: $main-border;
    color: $color-10;
    .logo {
        color: $color-4;
        margin-bottom: 30px;
    }
}