header {
    background: url('../images/header-bg.gif');
    height: 130px;
    color: #fff;
    font-family: $font-bold;

    .header-wrapper {
        height: $header-height;
    }

    .main-menu {
        a {
            color: #fff;
            text-decoration: none;
            display: block;
            line-height: $header-height;
            height: $header-height;
            width: rem(135px);
            text-align: center;
            border-right: $dark-border;
            
            &:first-child {
                border-left: $dark-border;
            }

            &.active {
                border-bottom: $active-border;
                color: $color-2;
            }
            
            &:hover {
                color: $color-2;
            }
        }
    }
}

.hero {
    height: rem(375px);
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    h1 {
        position: relative;
        z-index: 10;
        max-width: 80%;
        text-align: center;
    }
    
}