/* Layout */
$header-height: 130px;

/* Fonts */
$font-base: latoregular, sans-serif;
$font-bold: latobold, sans-serif;
$font-logo: eurofbold, serif;

/* Colors*/
$color-1: #516fad;
$color-2: #58c93a;
$color-3: #1e1e1e;
$color-4: #292929;
$color-5: #606060;
$color-6: #c2c2c2;
$color-7: #e1e0e0;
$color-8: #e5e5e5;
$color-9: #f8f8f8;
$color-10: #a6a6a6;

/* Borders */
$main-border: 1px solid $color-7;
$dark-border: 1px solid $color-3;
$active-border: 6px solid $color-2;